.btn_settings {
  display: none;
}


@media (min-width: 1070px) {
  .btn_settings {
    display: block;
    width: 46px;
    height: 46px;
    background: #13B497;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
  }

  .btn_settings img {
    width: 18.26px;
    height: 18.26px;
  }

}




