.main_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.bestSellingbg {
  display: none;
}

.container_barChart {
  display: none;
}

.container_chartbest {
  width: 95%;
}

.container_barChart {
  width: 95%;
  height: 50%;
}

.container_chartbest img {
  width: 100%;
  height: 100%;
}

.container_barChart img {
  width: 100%;
  height: 100%;
}


@media (min-width: 500px) {
  .chartSelling{
    display: none;
  }

  .container_chartbest {
   
    height: 70%;
  }

  .bestSellingbg {
    display: block;

  }
  
  


}