.main_dashboard {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px 10px;
}

.first_chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second_chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bestSellingbg {
  display: none;
}

.container_chartbest {
  width: 95%;
}

.container_barChart {
  display: none;
  width: 95%;
  height: 50%;
}

.container_chartbest img {
  width: 100%;
  height: 100%;
}

.container_barChart img {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .chartSelling {
    display: none;
  }

  .container_chartbest {
    height: 70%;
  }

  .bestSellingbg {
    display: block;
  }

  .container_barChart {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .first_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .main_dashboard {
    display: flex;
    flex-direction: row;
  }

  .container_chartbest {
    height: 100%;
    width: 100%;
  }

  .container_barChart {
    width: 100%;
  }
}
