.gallerie {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.title {
  font-style: normal;
  font-weight: 300;
  font-size: 16.8286px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.images_gallerie {
  width: 85%;
  height: 230px;
  background: #c4c4c4;
  border-radius: 15px;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .images_gallerie {
    width: 90%;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .gallerie {
    display: flex;
    height: 100%;
  }

  .title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 25px;
  }

  .images_gallerie {
    width: 93%;
    margin-left: 25px;
  }
}
