.btns_notification{
    display: flex;
    position: absolute; 
    right: 100px;
}

.btns_notification button{
    width: 36.52px;
    height: 36.52px;
    background: #2F363D;
    border-radius: 12px;
    border: none;

}

.btns_notification button img{
    width: 18.26px;
    height: 18.26px;
}

.iconChat{
    display: none;
}

.iconPromos{
    display: none;
}


.span_noti{
position: absolute;
width: 10.43px;
height: 10.43px;
margin-top: -10px;
background: #D9B75F;
border-radius: 50%;
}